extends layout
include mixins/_driverSelectCardMixin
include mixins/_toggleSwitch
block content
  #all-drivers-toggle.toggle-switch-container 
    div.toggle-text Card Size
    +toggleSwitch({
      pageType:'drivers',
      urls, 
      ENV, 
      toggleSwitchState
      }
  )
  .all-drivers-container
    ul.all-drivers
      for driverData in driversDataArr
        +driverSelectCardMixin(driverData, cardSize)