extends layout
include mixins/_allDriversCardMixin
include mixins/_toggleSwitch
block content
  #all-drivers-toggle.toggle-switch-container 
    div.toggle-text Card Size
    +toggleSwitch({
      pageType:'drivers',
      urls, 
      ENV, 
      toggleState
      }
  )
  .all-drivers-container
    ul.all-drivers
      for driverData in driversDataArr
        +allDriversCardMixin(driverData, cardSize)