extends layout
include mixins/_allDriversMixin
include mixins/_toggleSwitch
block content
  #all-drivers-toggle.toggle-switch-container 
    div.toggle-text Card Size
    +toggleSwitch('drivers',urls, ENV, toggleState)
  .all-drivers-container
    ul.all-drivers
      for driver in driversDataArr
        +allDriverMixin(driver, cardSize)
    if cardSize === " mini"
      form(method='POST',action='/drivers')
        button(type="button" class="btn btn-primary btn-lg submit-all-drivers") Submit