extends layout
include mixins/_allDriversMixin
block content
  .all-drivers-container
    ul.all-drivers
      for driver in driversDataArr
        +allDriverMixin(driver, cardSize)
    if cardSize === " mini"
      form(method='POST',action='/drivers')
        button(type="button" class="btn btn-primary btn-lg submit-all-drivers") Submit