extends layout
include mixins/_allTeamsMixin

block content
  .all-teams-container
    ul.all-teams
      for team in teamsArr
        +allTeamsMixin(team)
    if size
      button(type="button" class="btn btn-primary btn-lg submit-all-teams") Submit
