extends layout
include mixins/_teamSelectCardMixin
include mixins/_toggleSwitch

block content
  #all-team-toggle.toggle-switch-container 
    div.toggle-text Card Size
    +toggleSwitch({
    pageType:'teams',
    urls, 
    ENV, 
    toggleState
      }
  )
  .all-teams-container
    ul.all-teams
      for teamData in teamsDataArr
        +teamSelectCardMixin(teamData, cardSize)