extends layout
include mixins/_allTeamsMixin
include mixins/_toggleSwitch

block content
  #all-team-toggle.toggle-switch-container 
    div.toggle-text Card Size
    +toggleSwitch('teams',urls, locals, toggleState )
  .all-teams-container
    ul.all-teams
      for team in teamsDataArr
        +allTeamsMixin(team, cardSize)
    if size
      button(type="button" class="btn btn-primary btn-lg submit-all-teams") Submit
