extends layout
include mixins/_allTeamsCardMixin
include mixins/_toggleSwitch

block content
  #all-team-toggle.toggle-switch-container 
    div.toggle-text Card Size
     +toggleSwitch({
      pageType:'teams',
      urls, 
      ENV, 
      toggleState
      }
  )
  - console.log('XXX', teamsDataArr)
  .all-teams-container
    ul.all-teams
      for teamData in teamsDataArr
        - console.log('XXX', teamData)
        +allTeamsCardMixin(teamData, cardSize)