extends layout
include mixins/_driverCardMixin
include mixins/_teamCardMixin

include mixins/_select
block content
  .demo-container.container
    //- - console.log('data', teamCardData)
    each item in demoFormData
      div(class=`${item.selectName}-select`)
        h6.select-text= item.formNameText
        +select({
          method:item.method,
          action: item.action,
          selectName: item.selectName,
          enums: item.enum, 
          buttonType: 'submit',
          buttonValue: 'submit',
          buttonField: 'Submit',
        }) 
  if driverCardData
    .driver-card-demo
        +driverCardMixin(driverCardData)
  if teamCardData
    .team-card-demo
        +teamCardMixin(teamCardData)

