extends layout

include mixins/_select
block content
  - console.log('driverEnums', driverEnums)
  .demo-container.container
    .driver-select
      h6.select-text= driverFormText
      +select({
        method:method,
        action: driverAction,
        selectName: driverSelectName,
        enums: driverEnums, 
        buttonType: buttonType,
        buttonValue: buttonValue,
        buttonField: buttonField,
      }) 
    .team-select
      h6.select-text=  teamFormText
      +select({
        method:method,
        action: teamAction,
        selectName: teamSelectName,
        enums: teamEnums, 
        buttonType: buttonType,
        buttonValue: buttonValue,
        buttonField: buttonField,
      }) 
    


