extends layout
include mixins/_driverStatsCardMixin
include mixins/_teamStatsCardMixin

include mixins/_select
include mixins/_toggleSwitch

block content
  .demo-container.container
    each item in demoFormData
      div(class=`${item.selectName}-select`)
        h6.select-text= item.formNameText
        +select({
          method:item.method,
          action: item.action,
          selectName: item.selectName,
          enums: item.enum, 
          buttonType: 'submit',
          buttonValue: 'submit',
          buttonField: 'Submit',
        })
  div(id=`${pageType}-toggle-card` class=`toggle-switch-container`) 
    div.toggle-text Hide Demo
    +toggleSwitch({pageType, ENV, toggleSwitchState, toggleNextEndpoint, toggleHideNav}) 
  if driverCardData
    .driver-card-demo
        +driverStatsCardMixin(driverCardData)
  if teamCardData
    .team-card-demo
        +teamStatsCardMixin(teamCardData)

