- console.log('ROute', routeName)
if routeName == 'driverCard'
  include layout.pug
else
  include index.pug
include mixins/_driverCardMixin
block append content

  .driver-page 
    +driverCard(driverData)