extends layout

include mixins/_select
include mixins/_card

block content

  +select({
    method:method,
    action: action,
    enctype: enctype,
    selectName: selectName,
    enums: enums, 
    buttonType: buttonType,
    buttonValue: buttonValue,
    buttonField: buttonField 
  })
  .driver-card
    +card(driverObj)