//- - console.log('ROute', allData)
if routeName == 'driverCard'
  include layout.pug
else
  include index.pug
include mixins/_driverCardMixinLg
include mixins/_driverCardMixinSm
  //- - console.log('HERE NOW')
block append content

  .driver-page 
    .driver-card-container-sm
      +driverCardMixinSm(driverData)
    .driver-card-container-lg
      +driverCardMixinLg(driverData)