//- - console.log('ROute', routeName)
include index.pug
//- if routeName === 'driverCard'
//-   include layout.pug
//- else
//- include mixins/_driverCardMixin
  - console.log('HERE NOW')
block append content

  //- .driver-page 
  //-   +driverCard(driverData)