//- - console.log('ROute', allData)
if routeName == 'driverCard'
  include layout.pug
else
  include index.pug
include mixins/_driverCardMixin
  //- - console.log('HERE NOW')
block append content

  .driver-page 
    +driverCard(driverData)