extends layout

include mixins/_select
block content
  .title
    h1= title
  //- - console.log('TEAM', teamsEnums)
  +select({
    method:method,
    action: driverAction,
    selectName: driverSelectName,
    enums: driverEnums, 
    buttonType: buttonType,
    buttonValue: buttonValue,
    buttonField: buttonField 
  }) 
  +select({
    method:method,
    action: teamAction,
    selectName: teamSelectName,
    enums: teamEnums, 
    buttonType: buttonType,
    buttonValue: buttonValue,
    buttonField: buttonField 
  }) 
   


