extends layout

include mixins/_select

block content
  h1= title
  +select({
    method:method,
    action: driverAction,
    selectName: driverSelectName,
    enums: driverEnums, 
    buttonType: buttonType,
    buttonValue: buttonValue,
    buttonField: buttonField 
  }) 
  +select({
    method:method,
    action: teamAction,
    selectName: teamSelectName,
    enums: teamsEnums, 
    buttonType: buttonType,
    buttonValue: buttonValue,
    buttonField: buttonField 
  }) 
   


