extends layout
block content
  .index-hero
    .index-title-container
      h2.sub-title= subTitle
      .demo-button 
        a(href="/demo") 
          button.btn-lg.btn-primary Try Demo

     
  //- button(type="button" class="btn btn-lg btn-light messenger-btn")

  //- //- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
  //-     <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
  //-     <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
  main.index-main.container
   
