extends layout

block content
  .index-hero
    .index-title-container
      h5.sub-title= subTitle
      h5.title On Messenger
      

  main.index-main.container
    h2.title How it Works
    div= description
    ul
      li Visit us on Messenger
      li Pick the teams and drivers you want to hear about. 
      li Subscribe and your Formula 1 cards will automatically arrive before every grand-prix weekend.
  


