extends layout

block content
  .index-hero
    .index-title-container
      h3.sub-title= subTitle
      h5.title On Messenger
    button(type="button" class="btn btn-outline-secondary messenger-btn")
        a(href=`http://m.me/${process.env.PAGE_ID}?ref=test`)
        i.fab.fa-facebook-messenger.fa-2x
        //- 0084FF
      

  main.index-main.container
    h2.title How it Works
    div= description
    ul
      li Visit us on Messenger
      li Pick the teams and drivers you want to hear about. 
      li Subscribe and your Formula 1 cards will automatically arrive before every grand-prix weekend.
  


