doctype html
include mixins/_navbar

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:400,700|Lobster&display=swap", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
  body
    .nav-container
      +navbar(driverData)
      block content
      .messenger-button
        div(class="fb-messengermessageus" messenger_app_id=`${process.env.APP_ID}` page_id=`${process.env.PAGE_ID}` color="blue" size="large")
    script. 
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '428256864460216',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v5.0'
        });
      };
    script(async defer src="https://connect.facebook.net/en_US/sdk.js")

    
//- https://developers.facebook.com/docs/javascript/quickstart