doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:400,700&display=swap", rel="stylesheet")
  body
    .container
      block content
    script. 
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '428256864460216',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v5.0'
        });
      };
    script(async defer src="https://connect.facebook.net/en_US/sdk.js")

    