extends layout
block layoutVariables
  //- https://stackoverflow.com/a/20502117/5972531
    assign this back to LAYOUT file
  - let hideNav= noNav || false
block content
  include mixins/_teamStatsCardMixin
  include mixins/_teamSelectCardMixin
  include mixins/_toggleSwitch

    //- append the card content to page
  block append content
      - console.log('PP', prettyPage)
      .team-card-page(class=prettyPage ? 'pretty-page' : '')
          //- noToggle is used with /api
          if !noToggle 
            div(id=`${pageType}-toggle-card` class=`toggle-switch-container`) 
                  div.toggle-text Hide Demo
                  +toggleSwitch({pageType, urls, ENV, toggleSwitchState,toggleNextEndpoint, toggleHideNav })
          //- both flags use same mixin
          if layout === "select" || format == 'menu'
            +teamSelectCardMixin(teamData,cardSize)
          else
            +teamStatsCardMixin(teamData, format, cardSize)