- console.log ('TEAM', teamData)
block content

include mixins/_teamCardMixinLg
include mixins/_teamCardMixinSm
  //- append the card content to page
block append content
    .team-page
      .team-card
        +teamCardMixinLg(teamData)