//- - console.log('ROute', routeName)
if routeName == 'teamCard'
  include layout.pug
else
  //- import index select page
  include index.pug
  //- include card mixin
include mixins/_teamCardMixin
  //- append the card content to page
block append content

  .driver-page 
    +teamCard(teamData)