extends layout
block layoutVariables
  //-   https://stackoverflow.com/a/20502117/5972531
    to get just team card, 
    send this to the layout page
  - let hideNav= noNav || false
block content
  include mixins/_teamCardMixin
    //- append the card content to page
  block append content
      .team-card-page
          +teamCardMixin(teamData)