extends layout
block content
  - console.log ('TEAM', teamData)


  include mixins/_teamCardMixinLg
    //- append the card content to page
  block append content
      .team-card-page
          +teamCardMixinLg(teamData)