extends layout

include mixins/_select
include mixins/_teamCard

block content
  h1= title
  //- - console.log(teamData)
  +select({
    method:method,
    action: driverAction,
    enctype: enctype,
    selectName: driverSelectName,
    enums: driverEnums, 
    buttonType: buttonType,
    buttonValue: buttonValue,
    buttonField: buttonField 
  })
  +select({
    method:method,
    action: teamAction,
    enctype: enctype,
    selectName: teamSelectName,
    enums: teamEnums, 
    buttonType: buttonType,
    buttonValue: buttonValue,
    buttonField: buttonField 
  })
  +teamCard(teamData)