extends layout
block layoutVariables
  //-   https://stackoverflow.com/a/20502117/5972531
    to get just team card, 
    send this to the layout page
  - let hideNav= noNav || false
block content
  include mixins/_teamStatsCardMixin
  include mixins/_teamSelectCardMixin
  include mixins/_toggleSwitch

    //- append the card content to page
  block append content
      .team-card-page
          //- used with /api
          if !noToggle 
            div(id=`${pageType}-toggle-card` class=`toggle-switch-container`) 
                  div.toggle-text Hide Demo
                  +toggleSwitch({pageType, urls, ENV, toggleState,toggleNextEndpoint, toggleHideNav })
          if format === "select" || cardSize == 'mini'
            +teamSelectCardMixin(teamData,cardSize)
          else
            +teamStatsCardMixin(teamData, cardSize)