block content
  if routeName == 'teamCard'
    //set hidenav to true
    block vars
    - let hideNav = true
    include layout.pug
  else
    //- - console.log ('TEAM', teamData)
    include demo.pug
include mixins/_teamCardMixinLg
include mixins/_teamCardMixinSm
  //- append the card content to page
block append content
  //add class on card-only page
  if addClass === 'team-card-page'
    .team-page.team-card-page
      .team-card-container-sm
        +teamCardMixinSm(teamData)
      .team-card-container-lg
      +teamCardMixinLg(teamData)
  else
    .team-page
      .team-card-container-sm
        +teamCardMixinSm(teamData)
      .team-card-container-lg
        +teamCardMixinLg(teamData)