//- - console.log('ROute', routeName)
if routeName == 'teamCard'
  include layout.pug
else
  //- import index select page
  include index.pug
  //- include card mixin
include mixins/_teamCardMixinLg
include mixins/_teamCardMixinSm
  //- append the card content to page
block append content

  .team-page
    .team-card-container-sm
      +teamCardMixinSm(teamData)
    .team-card-container-lg
      +teamCardMixinLg(teamData)