extends layout
block content
  - console.log ('TEAM', teamData)


  include mixins/_teamCardMixin
    //- append the card content to page
  block append content
      .team-card-page
          +teamCardMixin(teamData)