.driver-card,
.team-card {
  list-style: none;
}
.driver-card.select-card a,
.team-card.select-card a {
  color: initial;
}
.driver-card.select-card,
.team-card.select-card,
.driver-card.stats-card,
.team-card.stats-card {
  margin-bottom: 20px;
  margin-right: 10px;
  overflow: hidden;
  flex-direction: column;
}
.driver-title-container {
  display: flex;
  justify-content: space-around;
  min-height: 70px;
  align-items: center;
}
.mini .driver-title-container {
  min-height: 50px;
}
figure.main-image-container.main-image-container {
  margin: 0;
}
.right-column {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  padding-left: 20px;
}
.team-card .drivers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.team-card .driver span {
  margin-right: 10px;
}
.team-card .driver .flag {
  max-width: 35px;
}
.team-card .drivers {
  min-height: 60px;
  margin: 10px 0;
}
.team-card .driver {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card a{
  color: #000;
}
.team-card-demo .team-card a {
  color: #007bff; 
}
.team-card .main-image {
  height: 100%;
  margin: 0;
}
.team-card .main-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.team-title-container {
  display: flex;
  justify-content: center;
}
.driver-title-container h2 {
  font-family: 'Montserat', sans-serif;
}
.driver-title-container .flag-img-container {
  align-self: center;
}
figure.flag-img-container {
  margin: 0;
}
.team-title-container {
  font-family: 'Montserat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  text-align: center;
}
.team-card.select-card.full .team-title-container  {
  min-height: 100px;
}
.driver-logo-container {
  min-height: 60px;
  align-self: center;
  max-width: 150px;
  margin: 10px 0;
}
.table-container {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding-bottom: 20px;
}
.stat-key {
  font-weight: bold;
}
.stats-columns {
  display: flex;
  justify-content: center;
}
.all-drivers .select-card:not(.mini) .flag-img-container {
  max-width: 50px;
}
.all-drivers .select-card:not(.mini) figure.flag-img-container,
.stats-card .flag-img-container {
  max-width: 75px;
}
.select-card:not(.mini) .flag-img-container,
.stats-card .flag-img-container {
  max-width: 75px;
}
.team-card.select-card.full.web h5{
  font-size: 2.5rem;
}
.team-card.select-card:not(.mini) h5 {
  font-size: 2rem;
}

.team-card.select-card:not(.mini) .team-title {
  min-height: 100px;
}
.select-card:not(.mini) .driver-title-container {
  min-height: 100px;
}
.card.driver-card.mini,
.card.team-card.mini {
  flex-direction: column;
  overflow: hidden;
}
.driver-card.mini,
.team-card.mini {
  width: 200px;
  margin: 5px;
}
.team-card.mini {
  height: 80%;
}
.mini .driver-title-container h2 {
  font-size: 1em;
}
.select-card.mini .flag-img-container {
  max-width: 50px;
}
.team-card.mini .team-title {
  min-height: 40px;
}

/* MOBILE format - below 768 applied by JS */
.mobile .right-column {
  width: inherit;
}
.card.driver-card.stats-card.mobile,
.card.team-card.stats-card.mobile {
  height: auto;
  flex-direction: column;
  overflow: hidden;
}
.stats-card.mobile .driver-title-container {
  min-height: 100px;
}
/* FIT mobile */
.fit.card.driver-card.stats-card.mobile,
.fit.card.team-card.stats-card.mobile {
  width: 300px;
  height: 600px;
}
.fit.card.driver-card.stats-card.mobile .left-column,
.fit.card.driver-card.stats-card.mobile .right-column,
.fit.card.team-card.stats-card.mobile .left-column,
.fit.card.team-card.stats-card.mobile .right-column {
  height: 50%;
}
.fit.card.driver-card.stats-card.mobile .driver-title-container {
  min-height: 50px;  
}
.fit.card.driver-card.stats-card.mobile .driver-title-container {
  min-height: 50px;  
}
.fit.card.driver-card.stats-card.mobile .driver-title-container h2 {
  font-size: 1.5rem;  
}
.fit.card.driver-card.stats-card.mobile .flag-img-container {
 max-width: 50px;
}
.fit.card.driver-card.stats-card.mobile .table-container {
font-size: 0.8em;
}
.fit.card.stats-card.mobile .table-container {
font-size: 0.8em;
}
.select-card:not(.mini):not(.fit) .flag-img-container {
  max-width: 100px;
}
.stats-card.mobile .team-title-container {
  min-height: 100px;
}
.fit.stats-card.mobile .team-title-container {
  min-height: 50px;
}
.mini.stats-card.mobile .team-title-container {
  min-height: 50px;
}
.stats-card.mobile .team-title-container h4{
  font-size: 2rem;
}
.fit.stats-card.mobile .team-title-container h4{
  font-size: 1.4rem;
}
.mini.stats-card.mobile .team-title-container h4{
  font-size: 1.4rem;
}
.fit.card.driver-card.stats-card.mobile .driver-logo-container {
  min-height: initial;
  margin-bottom: 0;
  width: 125px;
}
.fit.card.driver-card.stats-card.mobile .driver-logo-container {
  min-height: initial;
  margin-bottom: 0;
  width: 125px;
}
/*/////////// /////////// */

/* WEB format - 768 up web class appplied by JS */
.web.driver-card .left-column,
.web.team-card .left-column {
  height: auto;
}
.web.driver-card .right-column,
.web.team-card .right-column {
  width: 150%;
}
.web.team-card .driver {
  display: flex;
}
.full.web.card.driver-card.stats-card,
.full.web.card.team-card.stats-card,
.web.card.driver-card.stats-card,
.web.card.team-card.stats-card {
  height: auto;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}
.fit.web.card.driver-card.stats-card,
.fit.web.card.team-card.stats-card {
  max-width: 900px;
  max-height: 600px;
}
.fit.card.driver-card.select-card,
.fit.card.team-card.select-card {
  max-width: 400px;
}
.web.card.driver-card.select-card,
.web.card.team-card.select-card {
  height: auto;
  flex-direction: column;
  overflow: hidden;
}
.mini.web.card.driver-card.stats-card,
.mini.web.card.team-card.stats-card {
  width: 200px;
}
.web .driver-table-container {
  margin-top: 15px;
}
.web .table-container {
  height: 100%;
  align-items: center;
}
