body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
table {
  width: 50%;
}
img {
  max-width: 100%;
}
.main-image {
  max-width: 100%;
}
.car-image {
  max-width: 50%;
  align-self: flex-end;
}
.left-column {
  width: 50%;
}
.right-column {
  width: 50%;
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
}
.team-stats-container,
.driver-stats-container {
  display: flex;
}
.driver-stats-container {
  min-height: 300px;
}
.team-stats-container .left-column h5 {
  text-align: center;
  font-weight: bold;
}
.team-title-container {
  display: flex;
  justify-content: center;
}
.driver-title-container {
  display: flex;
  justify-content: space-around;
}
.driver-table-container {
  width: 50%;
  padding: 0 5px;
}
.driver-card .card,
.team-card .card {
  display: flex;
}
.stat-key {
  font-weight: bold;
}
.stat-key,
.stat-val {
  font-size: 13px;
  white-space: nowrap;
}
.team-table-container {
  padding: 0 5px;
}
.stats-columns {
  display: flex;
}
.flag-img-container {
  max-width: 100px;
}
