body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
table {
  width: 50%;
}
img {
  max-width: 100%;
}
.main-image {
  max-width: 100%;
}
.car-image {
  max-width: 50%;
  align-self: flex-end;
}
.left-column {
  width: 50%;
}
.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
}
.driver-card .card,
.team-card .card {
  display: flex;
  flex-direction: row;
}
.stats {
  align-self: center;
}
.stat-key {
  font-weight: bold;
}
