mixin allTeamsMixin(data)
  //- - console.log(data)
  .card.team-card(class=data.size data-slug=data.team_name_slug)
    li
      a(href="javascript:void(0);")
        .team-title
          h5 #{data.full_team_name}
        .main-image
          img(src=data.main_image)