mixin allDriverMixin(data)
  //- - console.log('D', data)
  .card.driver-card(class=data.size)
      li
        a(href="#")
          .driver-title-container 
            h6  #{data.driver_name}
            .flag-img-container
              img(src=data.flag_img_url)
          .main-image
          img(src=data.main_image)