mixin card(data)
  - console.log(data)
  .card
    .column.left-column
      .main-image
        img(src=data.main_image)
    .column.right-column
      table.stats
        tbody
          for val, key in data
            - key = capitalize(separator(key, " "))
            tr 
              td 
                span.stat-key #{key} 
                span.stat-value #{val} 
          
          