mixin navbar(data)
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/')
      img.icon-img(src='/images/icons/icon.jpeg' alt="logo")
    div.title Formula One Cards
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/demo') Card Demo  
        li.nav-item
          a.nav-link(href='/drivers') Drivers
        li.nav-item
          a.nav-link(href='/teams') Teams
     
    
  
    
  